{% extends 'base.html' %}

{% load static %}

{% block title %}Recipe List{% endblock %}
{% block content %}
    <h2>Recipe List</h2>
    <ul>
        {% for recipes in object_list %}
        <li>
            {{ recipes.name }}: <a href="{{ recipes.get_absolute_url }}">Recipe</a>
        </li>
        {% endfor %}
    </ul>
    {% if request.user.is_authenticated %}
        <p>Welcome {{request.user.username }}</p>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
{% endblock %}